<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="margin-right: 30px;margin-left: 30px;margin-top: 30px;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" 
        href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"/>
<script 
        src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        
        
<title>Lista:: CRUD</title>
</head>
<body>
      
      <div class="panel panel-info">
          <div class="panel-heading"><h3>Lista de Usuarios</h3></div>
          <table class="table table-striped" id="Datos">
             <thead>
                  <tr>
                      <th>Id</th>
                      <th>Estado</th>
                      <th>Contraseña</th>
                      <th>Tipo</th>
                      <th>Modificar</th>
                      <th>Eliminar</th>
                  </tr>
             </thead>
             <tbody>
                  <tr data-th-each="user : ${users}">
                      <td data-th-text="${user.id}"></td>
                      <td data-th-text="${user.enabled}"></td>
                      <td data-th-text="${user.password}"></td>
                      <td data-th-text="${user.username}"></td> 
                      
                      <td>
                          wait
                      </td>
                         
                      <td> 
                           wait
                      </td>
                      
                  </tr>  
             </tbody>
          </table>
      </div>
      <br/>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
 <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
 <script type="text/javascript">
 
    $(document).ready( function () {
      
      $('#Datos').DataTable({
    "language": {
      "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
    },"lengthMenu": [ 5, 10, 20 ]
  });
    }); 

 </script>      
      
</body>
</html>
